.page-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

.video-background {
    positon: absolute;
    height: 100vh;
    width: 100vw;
}

nav {
    position: static;
    height: 8vh;
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #40b298ba;

  ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    li {
      display: inline;
      padding: 20px;
    }
  }
}

.featured_videos {
    margin: 0;
    padding: 0;
}

.featured_playlist {
    bottom: 0;
    position: absolute;
    width: 100%;
    background-color: #40b298ba;
    height: 30vh;
}
